@using SW.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <legend><h2 id="h-mostrar-descricao" style="cursor:pointer;">@TITULO.MOSTRAR_DESCRICAO_PROVA</h2></legend>
    <div id="dv-desc-prova" style="display: none;">
        <ul>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
            <li>TEste</li>
        </ul>
    </div>
</fieldset>
<fieldset>
    <legend><h3>@TITULO.LISTAGEM_PRODUTOS</h3></legend>
    <div id="dv-listagem-produtos">
    </div>
</fieldset>
<fieldset>
    <legend><h3>@TITULO.LISTAGEM_PROMOCOES</h3></legend>
    <div id="dv-listagem-promocoes">
    </div>
</fieldset>
<script type="text/javascript">
    function InitLoading(container) {
        $(container).empty();
        $(container).append("<div class='big-loading'></div>");
    }
    function CarregarListagemProdutos() {
        InitLoading($("#dv-listagem-produtos"));
        $("#dv-listagem-produtos").load('@Url.Action("_PartialListagem", "Produto")', null, function () {
            $("#dv-listagem-produtos div.big-loading").remove();
        });
    }
    function CarregarListagemPromocoes() {
        InitLoading($("#dv-listagem-promocoes"));
        $("#dv-listagem-promocoes").load('@Url.Action("_PartialListagem", "Promocao")', null, function() {
            $("#dv-listagem-promocoes div.big-loading").remove();
        });
    }
    $(document).ready(function () {
        $("#h-mostrar-descricao").click(function () {
            if ($('#dv-desc-prova').css('display') == 'none') {
                $(this).html('@TITULO.ESCONDER_DESCRICAO_PROVA');
            } else {
                $(this).html('@TITULO.MOSTRAR_DESCRICAO_PROVA');
            }
            $("#dv-desc-prova").toggle('slow');
        });
        CarregarListagemProdutos();
        CarregarListagemPromocoes();
    });
</script>